
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }
}

.profile-menu > a:hover {
    color: #748F6F;
}

.fa-square-plus {
    color: #748F6F;
}
