<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/6f36eef116.js" crossorigin="anonymous"></script>
  <link href="/dist/output.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
 
</head>
<body>
    <!-- nav bar -->
    <header class="sticky top-0 z-[999]">
        <nav class="bg-lightgreen text">
            <!-- flex box for whole bar -->
          <div class="flex mx-5 justify-between">
              <!-- primary links -->
              <div class="flex space-x-1 items-center">
                  <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="index" href="index.html">Search</a>
                  <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="listings" href="listings.html">My Listings</a>
                  <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="bookings" href="bookings.html">My Reservations</a>
              </div>
  
              <!-- secondary links -->
              <div class="flex space-x-1 items-center">
                <ul class="flex items-center">
                  <li class="flex items-center">
                    <button id="notifButton" data-dropdown-toggle="notifDropdown" class="inline-flex justify-center items-center text-sm font-medium text-center hover:text-darkgreen focus:outline-none" type="button"> 
                      <svg class="w-[30px] h-[30px]" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
                      <div class="relative flex">
                        <div class="relative inline-flex w-3 h-3 bg-red-500 border-2 border-white rounded-full -top-2 right-3"></div>
                      </div>
                    </button>
                      <!-- Dropdown menu -->
                      <div id="notifDropdown" class="z-20 hidden w-full max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow" aria-labelledby="notifButton">
                        <div class="block px-4 py-2 font-medium text-center rounded-t-md bg-darkgreen text-white">
                            Notifications
                        </div>
                        
                        <div class="divide-y divide-gray-100">
  
                          <!-- booking request notif -->
                          <a href="#" class="flex px-4 py-3 hover:bg-gray-100 ">
                            <div class="flex-shrink-0 text-lightblue">
                              <i class="fa-solid fa-house"></i>
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 ">New booking request from <span class="font-medium text-gray-900">Zonke</span> for <span class="font-semibold text-gray-900"> General Farm (3 bed 2 bath)</span></div>
                                <div class="text-xs text-blue-600">a few moments ago</div>
                            </div>
                          </a>
  
                          <!-- booking approval notif -->
                          <a href="#" class="flex px-4 py-3 hover:bg-gray-100 ">
                            <div class="flex-shrink-0 text-lightblue">
                              <i class="fa-solid fa-house"></i>
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 ">The host for <span class="font-semibold text-gray-900">Luxurious Lodge</span> has approved your booking request!</div>
                                <div class="text-xs text-blue-600 ">10 minutes ago</div>
                            </div>
                          </a>
  
                          <!-- comment notif -->
                          <a href="#" class="flex px-4 py-3 hover:bg-gray-100 ">
                            <div class="flex-shrink-0 text-lightblue"> 
                              <i class="fa-solid fa-comment"></i>                           
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 "><span class="font-semibold text-gray-900 ">Smonke Smonke</span> commented on your listing: "Beautiful home - I had a comfortable stay!"</div>
                                <div class="text-xs text-blue-600 ">44 minutes ago</div>
                            </div>
                          </a>
                          
                        </div>
                      </div>
  
  
                    <!-- Dropdown menu -->
                    <div id="notifDropdown" class="z-10 hidden bg-white rounded-md shadow w-44">
                        <ul class="py-2 text-sm text-gray-700 " aria-labelledby="notifButton">
                          <ul class="py-2 text-sm" aria-labelledby="notifButton">
                            <li>
                              <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">My Profile</a>
                            </li>
      
                            <li>
                              <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">Edit Profile</a>
                            </li>
                          </ul>
                        </ul>
                    </div>
                  </li>
                  <li>
                    <button id="profileButton" data-dropdown-toggle="profileDropdown" class="px-4 py-2 hover:text-darkgreen"><i class="fa-solid fa-user fa-xl"></i> </button>
                    <div id="profileDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-md shadow w-44">
                      <ul class="py-2 text-sm" aria-labelledby="profileButton">
                        <li>
                          <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">My Profile</a>
                        </li>
  
                        <li>
                          <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">Edit Profile</a>
                        </li>
                      </ul>
                      <div class="py-2">
                        <a href="login.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">Sign out</a>
                      </div>
                  </div>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
    </header>

  <main>
    <!-- container div -->
    <div class="p-5 flex">
        <!-- left menu column div -->
      <div class="profile-menu w-1/6 bg-lightgray/[.2] p-7 h-screen flex flex-col flex-start items-center rounded gap-5"> 
          <!-- left menu contents -->
          <a class="self-start font-semibold text-darkgreen" href="listings.html"> Dashboard </a>
          <a class="self-start" href="listings_requests.html"> Requests </a>
          <a class="self-start" href="all_listings.html"> All Listings </a>
          <a class="self-start" href="reserved_listings.html"> Reserved Listings </a>
          <a class="self-start" href="unreserved_listings.html"> Unreserved Listings </a>
          <a class="self-start" href="bookings.html"> My Reservations </a> 
          <a class="self-start"> My Comments </a> 
          <a class="self-start"> Settings </a>
      </div> <!-- end div for menu column -->

      <!-- main contents of page -->
      <form class="w-5/6 pl-5 grid grid-cols-3 p-2 box-border" action="listing_details2.html">

        <!-- listing name -->
        <div class="flex flex-col m-2 gap-2">
            <label for="listing-title" class="font-semibold"> Listing Name: </label>
            <input class="appearance-none rounded drop-shadow border-lightblue 
            focus:shadow-outline focus:outline-darkgreen " 
            type="text" value="Windmill House"
            name="listing-title" id="listing-title" required>  </input>
        </div>
        
        <!-- price -->
        <div class="flex flex-col m-2 gap-2"> 
            <label for="price" class="font-semibold"> Base Cost:</label>
            <div class="flex">
                <i class="fa-solid fa-dollar-sign self-center"></i>
                <input class="appearance-none rounded drop-shadow border-lightblue 
                focus:shadow-outline focus:outline-darkgreen ml-2" 
                type="text" value="501" name="price" id="price" required> </input>
            </div>
        </div>
        
        <!-- service fee, cleaning fee -->
        <div class="flex m-2 gap-2 box-border"> 
            <div class="flex flex-col gap-2">
                <label for="service" class="font-semibold"> Service Fee:</label>
                <div class="flex">
                    <i class="fa-solid fa-dollar-sign self-center"></i>
                    <input class="appearance-none rounded drop-shadow border-lightblue 
                    focus:shadow-outline focus:outline-darkgreen ml-2 w-full" 
                    type="text" value="50" name="service" id="service" required> </input>
                </div>
            </div>
            
            <div class="flex flex-col gap-2">
                <label for="cleaning" class="font-semibold"> Cleaning:</label>
                <div class="flex">
                    <i class="fa-solid fa-dollar-sign self-center"></i>
                    <input class="appearance-none rounded drop-shadow border-lightblue 
                    focus:shadow-outline focus:outline-darkgreen ml-2 w-full" 
                    type="text" value="50" name="cleaning" id="cleaning" required> </input>
                </div>
            </div>
        </div>

        <!-- address -->
        <div class="flex flex-col m-2 gap-2"> 
            <label for="address" class="font-semibold"> Address:</label>
            <input class="appearance-none rounded drop-shadow border-lightblue 
            focus:shadow-outline focus:outline-darkgreen grow" 
            type="text" value="123 Wind Street, Geneva, Switzerland" name="address" id="address" required> </input>
        </div>

        <!-- description -->
        <div class="flex flex-col m-2 gap-2"> 
            <label for="description" class="font-semibold"> Description:</label>
            <input class="appearance-none rounded drop-shadow border-lightblue 
            focus:shadow-outline focus:outline-darkgreen" 
            type="text" value="Feel the breeze" name="description" id="description" required> </input>
        </div>

        <!-- bedrooms, beds, baths -->
        <div class="flex m-2 gap-2 box-border"> 
                <div class="flex flex-col gap-2">
                    <label for="bedrooms" class="font-semibold"> Bedrooms:</label>
                    <input class="appearance-none rounded drop-shadow border-lightblue 
                    focus:shadow-outline focus:outline-darkgreen w-full" 
                    type="text" value="2" name="bedrooms" id="bedrooms" required> </input>
                </div>
                
                <div class="flex flex-col gap-2">
                    <label for="beds" class="font-semibold"> Beds:</label>
                    <input class="appearance-none rounded drop-shadow border-lightblue 
                    focus:shadow-outline focus:outline-darkgreen w-full" 
                    type="text" value="2" name="beds" id="beds" required> </input>
                </div>

                <div class="flex flex-col gap-2">
                    <label for="baths" class="font-semibold"> Baths:</label>
                    <input class="appearance-none rounded drop-shadow border-lightblue 
                    focus:shadow-outline focus:outline-darkgreen w-full" 
                    type="text" value="2" name="baths" id="baths" required> </input>
                </div>
        </div>

        <!-- message from host -->
        <div class="col-start-1 col-span-3 mb-5"> 
            <div class="flex flex-col m-2 gap-2">
                <label for="message" class="font-semibold"> Message from host:</label>
                <textarea class="appearance-none rounded drop-shadow border-lightblue 
                focus:shadow-outline focus:outline-darkgreen w-full md:h-[150px] h-auto" 
                type="text"
                name="message" id="message" required>Enjoy your stay!</textarea>
            </div>
        </div>

        <!-- amenities dropdown with label -->
        <div class="flex flex-col m-2 gap-2">
          <label for="amenities" class="font-semibold">Amenities:</label>

          <!-- drop down for new amenities -->
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="md:w-full w-auto px-3">
              <div class="relative">
                <select class="block appearance-none w-full border border-gray-300 text py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-[#8FC6EA]" id="amenities" name="amenities">
                  <option value="wifi"> free wifi </option>
                  <option value="pets"> pet friendly </option>
                  <option value="kitchen"> kitchen </option>
                  <option value="parking"> free parking on premise </option>
                  <option value="garden"> garden view </option>
                  <option value="campfire"> campfire </option>
                  <option value="hottub"> hot tub </option>
                  <option value="movie"> movie room </option>
                  <option value="coffee"> coffee machine </option>
                  <option value="gym"> gym equipment </option>
                  <option value="drawing"> drawing room </option>
                  <option value="game"> game consoles available </option>
                  <option value="indoor-pool"> indoor pool </option>
                  <option value="outdoor-pool"> outdoor pool </option>
                  <option value="reading"> reading room </option>
                  <option value="lounge"> lounge </option>
                  <option value="pool-table"> pool table </option>
                  <option value="sauna"> sauna </option>
                  <option value="massage"> massage chair </option>
                  <option value="ac"> air conditioning available </option>
                  <option value="bbq"> barbeque available </option>
                  <option value="balcony"> balcony </option>
                </select>
                
              </div>
            </div>
          </div>
        </div>
        
        <!-- add amenities button -->
        <div class="flex m-2 gap-2">
          <!-- add amenity button -->
          <div class="flex items-center justify-start self-start mt-10 ml-2">
            <a class="px-4 py-1.5 bg-darkgreen text-white hover:bg-lightgreen 
            hover:text-darkgreen rounded font-semibold text-[14px] justify-center items-center" href="#"> ADD </a>
          </div>
        </div>

        <!-- free cancellation -->
        <div class="flex flex-col gap-2 m-2">
            <p class="font-semibold"> Free cancellation within 48 hours? </p>
            <div>
                <input type="radio" name="free-cancel" id="free-cancel" value="yes">
                <label for="free-cancel" class="ml-1"> Yes </label>
            </div>
            <div>
                <input type="radio" name="free-cancel" id="free-cancel" value="no">
                <label for="free-cancel" class="ml-1"> No </label>
            </div>
        </div>

        <!-- listing all existing amenities -->
        <div class="flex flex-col gap-10 col-start-1 col-span-2 mb-14">
            <!-- div for amenities -->
                <div class="flex gap-2 self-start border border-gray-300 box-border py-4 px-4 rounded ml-2 w-auto
                shadow-md">
                    <div class="flex flex-col text-rose-500 mt-1">
                        <i class="fa-solid fa-circle-minus"></i>
                    </div>

                    <div class="flex flex-col text">
                        <p> free parking on premise </p>
                    </div>
                
                    <div class="flex self-center mt-10 ml-14">
                      <a class="px-4 py-1.5 bg-darkgreen text-white hover:bg-lightgreen 
                      hover:text-darkgreen rounded font-semibold text-[14px] items-end"> SAVE </a>
                    </div>
                </div> <!-- end div for amenities box -->
        </div> <!-- end div for listing all existing amenities -->

        <!-- editing images -->
        <div class="col-start-1 col-span-3">
          <label for="images" class="font-semibold"> Edit Gallery:</label>
    
            <div class="flex flex-col self-end mt-2">
              <input class="rounded text-gray-500 border border-gray-300" type="file" multiple accept="image/*" name="images" id="images"> </input>
            </div>
        </div>

        <!-- submit -->
        <div class="flex col-start-2 mt-36 justify-self-center">
          <div class="flex justify-self-center w-auto h-auto bg-darkgreen text-white hover:bg-lightgreen 
          hover:text-darkgreen rounded font-semibold text-[14px]">
            <input type="submit" value="SAVE" class="px-4 py-1.5 justify-center items-center"> 
            </input>
          </div>
        </div>
        
    </form> <!-- end div for main contents of page -->
    </div> <!-- end div container for page -->
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>

</body>
</html>