<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/6f36eef116.js" crossorigin="anonymous"></script>
  <link href="/dist/output.css" rel="stylesheet" type="text/css">
  
 
</head>
<body>
    <!-- nav bar -->
  <header>
      <nav class="bg-lightgreen text-gray-700">
          <!-- flex box for whole bar -->
        <div class="flex mx-5 justify-between">
            <!-- primary links -->
            <div class="flex space-x-1 items-center">
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="index" href="index.html">Search</a>
                <a class="flex items-center py-4 px-5 hover:text-darkgreen font-bold" id="listings" href="listings.html">My Listings</a>
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="bookings" href="bookings.html">My Reservations</a>
            </div>

            <!-- secondary links -->
            <div class="flex space-x-1 items-center">
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="log out" href="index.html">Log Out</a>
                <!-- change this to icon later -->
                <a class="hover:text-darkgreen" href="profile.html"><i class="fa-solid fa-user fa-xl"></i> </a>
            </div>
        </div>
      </nav>
  </header>

  <main>
    <!-- container div -->
    <div class="p-5 flex">
        <!-- left menu column div -->
      <div class="profile-menu w-1/6 bg-lightgray/[.2] p-7 h-screen flex flex-col flex-start items-center rounded gap-5"> 
          <!-- left menu contents -->
          <a class="self-start" href="listings.html"> My Rental Listings </a>
          <a class="text-darkgreen font-semibold" href="all_listings.html"> All Listings </a>
          <a class="self-start" href="bookings.html"> My Reservations </a> 
          <a> Pending </a>
          <a> Denied </a>
          <a> Expired </a>
          <a> Approved </a>
          <a> Canceled </a>
          <a> Terminated </a>
          <a> Completed </a>
          <a class="self-start"> My Comments </a> 
          <a class="self-start"> Settings </a>
      </div> <!-- end div for menu column -->

      <!-- main contents of page -->
      <div class="w-5/6 pl-5 flex flex-col items-start gap-5">

        <!-- heading -->
        <div class="w-full flex justify-between">
            <h1 class="font-bold text-2xl"> All Rental Listings: </h1>
            <a class="px-4 py-1.5 bg-darkgreen text-white hover-bg-lightgreen 
            hover-text-darkgreen rounded font-semibold text-[14px]" href="#"> EDIT </a>
        </div>
        
        
        <!-- profile picture -->
        <div class="h-[88px] w-[88px] rounded overflow-hidden bg-black"> 
          <img class="object-cover w-full h-full object-bottom" src="https://i.pinimg.com/564x/aa/3d/49/aa3d499ad2ef681265afcd840e2079d3.jpg">
        </div>


        <!-- div for requests boxes horizontal scroll -->
        <div class="w-full grid grid-cols-3 place-content-evenly gap-5 overflow-y-auto mt-5 mr-0">

        <!-- div for individual box-->
        <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] drop-shadow flex flex-col shrink-0"> 
        <div class="h-1/2 overflow-hidden">
            <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
        </div>

        <!-- flex box for bottom half of box text-->
        <div class="h-1/2 p-3">
            <!-- div for title and rating -->
            <div class="flex justify-between">
            <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
            <div class="flex">
                <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                <p class="text-xs bold ml-1 "> 5.0 </p>
                <p class="text-xs ml-0.5"> (1) </p>
            </div>
            </div>

            <!-- div for left half, includes icons address and cost-->
            <div class="flex gap-2">
            <div class="flex flex-col gap-y-1 justify-evenly"> 
                <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                <i class="fa-solid fa-coins fa-xs"></i>
            </div>
            <div class="flex flex-col gap-y-1 grow">
                <p class="text-xs">123 King Street, London, England </p> 
                <p class="text-xs"> $1,999 / night</p>
            </div>
            <div class="text-xs text-midgreen underline flex self-end"> see more </div>
            </div>
        </div> <!-- div end for bottom half of individual box -->
        </div> <!-- div end for listing box -->

        <!-- div for individual box-->
        <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] drop-shadow flex flex-col shrink-0"> 
            <!-- make the inside of every box a flex box with 2 rows -->
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full object-bottom rounded-t-[10px]" src="https://i.pinimg.com/564x/bd/35/b8/bd35b85d0b34cfc0ba17bc11e1b90508.jpg">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                    <p class="text-[13px] mb-2"> General Farm (3 Bed 2 Bath) </p>
                    <div class="flex">
                        <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                        <p class="text-xs bold ml-1 "> 4.8 </p>
                        <p class="text-xs ml-0.5"> (101) </p>
                    </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                    <div class="flex flex-col gap-y-1 justify-evenly"> 
                        <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                        <i class="fa-solid fa-coins fa-xs"></i>
                    </div>
                    <div class="flex flex-col gap-y-1 grow">
                        <p class="text-xs">123 Monke Street, Nara, Japan </p> 
                        <p class="text-xs"> $499 / night</p>
                    </div>
                    <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div>
        </div>
    
        <!-- div for individual box-->
        <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] drop-shadow flex flex-col shrink-0"> 
            <!-- make the inside of every box a flex box with 2 rows -->
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/b6/69/f1/b669f19012abdf83f35c8d5b971ad9df.jpg">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                    <p class="text-[13px] mb-2"> Grand Cabin (5 Bed 3 Bath) </p>
                    <div class="flex">
                        <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                        <p class="text-xs bold ml-1 "> 3.2 </p>
                        <p class="text-xs ml-0.5"> (8) </p>
                    </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                    <div class="flex flex-col gap-y-1 justify-evenly"> 
                        <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                        <i class="fa-solid fa-coins fa-xs"></i>
                    </div>
                    <div class="flex flex-col gap-y-1 grow">
                        <p class="text-xs">123 Lake Street, Toronto, Canada </p> 
                        <p class="text-xs"> $623 / night</p>
                    </div>
                    <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div>
        </div>

        <!-- div for individual box-->
        <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] drop-shadow flex flex-col shrink-0"> 
        <div class="h-1/2 overflow-hidden">
            <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
        </div>

        <!-- flex box for bottom half of box text-->
        <div class="h-1/2 p-3">
            <!-- div for title and rating -->
            <div class="flex justify-between">
            <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
            <div class="flex">
                <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                <p class="text-xs bold ml-1 "> 5.0 </p>
                <p class="text-xs ml-0.5"> (1) </p>
            </div>
            </div>

            <!-- div for left half, includes icons address and cost-->
            <div class="flex gap-2">
            <div class="flex flex-col gap-y-1 justify-evenly"> 
                <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                <i class="fa-solid fa-coins fa-xs"></i>
            </div>
            <div class="flex flex-col gap-y-1 grow">
                <p class="text-xs">123 King Street, London, England </p> 
                <p class="text-xs"> $1,999 / night</p>
            </div>
            <div class="text-xs text-midgreen underline flex self-end"> see more </div>
            </div>
        </div> <!-- div end for bottom half of individual box -->
        </div> <!-- div end for listing box -->

        <!-- div for individual box-->
        <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] drop-shadow flex flex-col shrink-0"> 
            <!-- make the inside of every box a flex box with 2 rows -->
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/4f/80/7c/4f807c68323c59167143bad9c8f0a4c3.jpg">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                    <p class="text-[13px] mb-2"> Bath House (1 Bed 1 Bath) </p>
                    <div class="flex">
                        <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                        <p class="text-xs bold ml-1 "> 4.5 </p>
                        <p class="text-xs ml-0.5"> (67) </p>
                    </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                    <div class="flex flex-col gap-y-1 justify-evenly"> 
                        <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                        <i class="fa-solid fa-coins fa-xs"></i>
                    </div>
                    <div class="flex flex-col gap-y-1 grow">
                        <p class="text-xs">123 Bath Street, Bath, England </p> 
                        <p class="text-xs"> $99 / night</p>
                    </div>
                    <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div>
        </div>

        <!-- div for add section box-->
        <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] drop-shadow shrink-0 grid grid-cols-1 place-content-center justify-items-center"> 
            <i class="fa-solid fa-square-plus fa-5x mb-2"></i>
            <p> Add a new listing </p>
        </div>

        </div> <!-- end of all rental listings display vertical scroll div -->

      </div> <!-- end div for main contents of page -->
    </div> <!-- end div container for page -->
  </main>

</body>
</html>