<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/6f36eef116.js" crossorigin="anonymous"></script>
  <link href="/dist/output.css" rel="stylesheet" type="text/css">
  
</head>
<body>
    <!-- nav bar -->
  <header class="sticky top-0 z-[999]">
      <nav class="bg-lightgreen text">
          <!-- flex box for whole bar -->
        <div class="flex mx-5 justify-between">
            <!-- primary links -->
            <div class="flex space-x-1 items-center">
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="index" href="index.html">Search</a>
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="listings" href="listings.html">My Listings</a>
                <a class="flex items-center py-4 px-5 hover:text-darkgreen font-bold" id="bookings" href="bookings.html">My Reservations</a>
            </div>

            <!-- secondary links -->
            <div class="flex space-x-1 items-center">
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="log out" href="index.html">Log Out</a>
                <a class="hover:text-darkgreen" href="profile.html"><i class="fa-solid fa-user fa-xl"></i> </a>
            </div>
        </div>
      </nav>
  </header>

  <main>
      <div class="p-5 flex">
        <!-- left menu column div -->
        <div class="profile-menu w-1/6 bg-lightgray/[.2] p-7 h-screen flex flex-col flex-start items-center rounded gap-5"> 
            <!-- left menu contents -->
            <a class="self-start" href="listings.html"> My Rental Listings </a>
            <a class="self-start" href="listings_requests.html"> Requests </a>
            <a class="self-start" href="all_listings.html"> All Listings </a>
            <a class="self-start" href="reserved_listings.html"> Reserved Listings </a>
            <a class="self-start" href="unreserved_listings.html"> Unreserved Listings </a>
            <a class="self-start font-semibold text-darkgreen"> My Reservations </a> 
            <a class="self-start"> My Comments </a> 
            <a class="self-start"> Settings </a>
        </div>

        <!-- main contents of page -->
      <div class="w-5/6 pl-5 flex flex-col items-start gap-5">

        <!-- heading -->
        <div class="w-full flex justify-between">
            <h1 class="font-bold text-2xl"> Honke Honke's Reservations: </h1>
            <a class="px-4 py-1.5 bg-darkgreen hover:bg-lightgreen text-white hover:text-darkgreen rounded font-semibold text-[14px]" href="#"> EDIT </a>
        </div>
        
        
        <!-- profile picture div with book button -->
        <div class="flex gap-5 items-end">
          <div class="h-[88px] w-[88px] rounded overflow-hidden bg-black"> 
            <img class="object-cover w-full h-full object-bottom" src="https://i.pinimg.com/564x/aa/3d/49/aa3d499ad2ef681265afcd840e2079d3.jpg">
          </div>
          <a class="px-4 py-1.5 bg-darkgreen text-white hover:bg-lightgreen 
            hover:text-darkgreen rounded font-semibold text-[14px]" href="#"> NEW </a>
        </div>

        

        <!-- div reservations table -->
        <div class="mt-5 w-full mb-2 h-auto drop-shadow border rounded-xl overflow-hidden">
          <!-- reservation table -->
          <table class="w-full table-auto md:table-fixed">
            <thead>
              <tr class="font-semibold text-darkgreen text-left">
                <th class="border pl-5 py-3"> Listing </th>
                <th class="border pl-5 py-3"> Dates Reserved </th>
                <th class="border pl-5 py-3"> Status </th>
              </tr>
            </thead>
            
            <tbody> 
              <tr>
                <td class="border pl-5 py-3"> <a href="#"> General Farm (3 Bed 2 Bath) </a></td>
                <td class="border pl-5 py-3"> February 14, 2023 - May 4, 2023 </td>
                <td class="border pl-5 py-3"> Approved </td>

                <tr>
                  <td class="border pl-5 py-3"> <a href="#"> Grand Cabin (5 Bed 3 Bath) </a></td>
                  <td class="border pl-5 py-3"> March 24, 2023 - April 1, 2023 </td>
                  <td class="border pl-5 py-3"> Terminated </td>
                </tr>

                <tr>
                  <td class="border pl-5 py-3"> <a href="listing_details.html"> Luxurious Lodge (8 Bed 5 Bath) </a></td>
                  <td class="border pl-5 py-3"> February 1, 2023 - February 3, 2023 </td>
                  <td class="border pl-5 py-3"> Pending </td>
                </tr>

                <tr>
                  <td class="border pl-5 py-3"> <a href="listing_details.html"> Luxurious Lodge (8 Bed 5 Bath) </a></td>
                  <td class="border pl-5 py-3"> June 19, 2023 - June 23, 2023 </td>
                  <td class="border pl-5 py-3"> Approved </td>
                </tr>

                <tr>
                  <td class="border pl-5 py-3"> <a href="#"> Bath House (1 Bed 1 Bath) </a></td>
                  <td class="border pl-5 py-3"> November 25, 2023 - November 27, 2023 </td>
                  <td class="border pl-5 py-3"> Complete </td>
                </tr>

              </tr>
            </tbody>
          </table>
      
        </div> <!-- end div for reservation table -->

      </div> <!-- end div for main contents of page -->

    </div> <!-- end div for page container -->
  </main>

</body>
</html>