<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/6f36eef116.js" crossorigin="anonymous"></script>
  <link href="/dist/output.css" rel="stylesheet" type="text/css">
  
 
</head>
<body>
    <!-- nav bar -->
  <header class="sticky top-0 z-[999]">
      <nav class="bg-lightgreen text">
          <!-- flex box for whole bar -->
        <div class="flex mx-5 justify-between">
            <!-- primary links -->
            <div class="flex space-x-1 items-center">
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="index" href="index.html">Search</a>
                <a class="flex items-center py-4 px-5 hover:text-darkgreen font-bold" id="listings" href="listings.html">My Listings</a>
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="bookings" href="bookings.html">My Reservations</a>
            </div>

            <!-- secondary links -->
            <div class="flex space-x-1 items-center">
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="log out" href="index.html">Log Out</a>
                <!-- change this to icon later -->
                <a class="hover:text-darkgreen" href="profile.html"><i class="fa-solid fa-user fa-xl"></i> </a>
            </div>
        </div>
      </nav>
  </header>

  <main>
    <!-- container div -->
    <div class="p-5 flex">
        <!-- left menu column div -->
      <div class="profile-menu w-1/6 bg-lightgray/[.2] p-7 h-screen flex flex-col flex-start items-center rounded gap-5"> 
          <!-- left menu contents -->
          <a class="self-start font-semibold text-darkgreen" href="listings.html"> My Rental Listings </a>
          <a class="self-start" href="listings_requests.html"> Requests </a>
          <a class="self-start" href="all_listings.html"> All Listings </a>
          <a class="self-start" href="reserved_listings.html"> Reserved Listings </a>
          <a class="self-start" href="unreserved_listings.html"> Unreserved Listings </a>
          <a class="self-start" href="bookings.html"> My Reservations </a> 
          <a class="self-start"> My Comments </a> 
          <a class="self-start"> Settings </a>
      </div> <!-- end div for menu column -->

      <!-- main contents of page -->
      <div class="w-5/6 pl-5 flex flex-col items-start gap-5">

        <!-- heading -->
        <div class="w-full flex justify-between">
            <h1 class="font-bold text-3xl"> Luxurious Lodge (8 Bed 5 Bath) </h1>
            <a class="px-4 py-1.5 bg-darkgreen hover:bg-lightgreen text-white hover:text-darkgreen rounded font-semibold text-[14px]" href="#"> EDIT </a>
        </div>
        
        <!-- profile picture with information about host -->
        <div class="flex flex-row mb-5">
            <!-- div for profile picture -->
            <div class="mr-5">
                <div class="h-[88px] w-[88px] rounded overflow-hidden bg-black"> 
                    <img class="object-cover w-full h-full object-bottom" src="https://i.pinimg.com/564x/aa/3d/49/aa3d499ad2ef681265afcd840e2079d3.jpg">
                </div>
            </div>

            <!-- div for icons and text -->
            <div class="flex flex-col text-darkgreen mr-2 gap-1 justify-end">
                <div class="flex items-center">
                    <i class="fa-solid fa-star mr-2"></i>
                    <div class="flex bottom-0">
                        <p class="font-semibold text"> 4.8 </p>
                        <p class="text"> (101) </p>
                    </div>
                </div>

                <div class="flex text-darkgreen items-center">
                    <i class="fa-solid fa-envelope mr-2"></i>
                    <p class="justify-end bottom-0 text"> honke.honke@monkemail.com </p>
                </div>
                
                <div class="flex text-darkgreen items-center">
                    <i class="fa-solid fa-phone mr-2"></i>
                    <p class="justify-end bottom-0 text"> 123-123-1234</p>
                </div>
            </div>

            <div class="flex flex-col text-darkgreen gap-1 justify-end ml-2">
                <div class="flex items-center">
                    <i class="fa-solid fa-coins mr-2"></i>
                    <p class="text"> $1,999 / night</p>
                </div>
                <div class="flex items-center">
                    <i class="fa-solid fa-location-dot mr-2"></i>
                    <p class="justify-end -bottom-1 text">123 King Street, London, England</p>
                </div>
            </div>
        </div> <!-- end div for icons and text beside profile -->


        <!-- div for pictures horizontal scroll -->
        <div class="w-full flex gap-3 overflow-x-auto">
            <div class="m-2 inline-flex relative w-fit">

            <!-- div for individual picture-->
            <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] drop-shadow flex flex-col shrink-0"> 
                <div class="h-full overflow-hidden">
                    <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
                </div>
            </div> <!-- div end for listing box -->

            <!-- div for individual picture-->
            <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] drop-shadow flex flex-col shrink-0"> 
                <div class="h-full overflow-hidden">
                    <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/76/7c/6e/767c6edb1faa401343409adb1b08f6f4.jpg">
                </div>
            </div> <!-- div end for listing box -->

            <!-- div for individual picture-->
            <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] drop-shadow flex flex-col shrink-0"> 
                <div class="h-full overflow-hidden">
                    <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/be/37/c5/be37c53350b0b451e48fe900b6982fb5.jpg">
                </div>
            </div> <!-- div end for listing box -->

            <!-- div for individual picture-->
            <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] drop-shadow flex flex-col shrink-0"> 
                <div class="h-full overflow-hidden">
                    <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/a6/54/7a/a6547a8f73624024731f64a4fcc03f17.jpg">
                </div>
            </div> <!-- div end for listing box -->

        </div> <!-- end of pictures scrolling -->

      </div> <!-- end div for main contents of page -->
    </div> <!-- end div container for page -->
  </main>

</body>
</html>