<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="/dist/output.css" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/6f36eef116.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
 
</head>
<body>
    <!-- nav bar -->
    <header class="sticky top-0 z-[999]">
        <nav class="bg-lightgreen text">
            <!-- flex box for whole bar -->
        <div class="flex mx-5 justify-between">
            <!-- primary links -->
            <div class="flex space-x-1 items-center">
                <a class="flex items-center py-4 px-5 hover:text-darkgreen font-bold" id="index" href="index.html">Search</a>
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="listings" href="listings.html">My Listings</a>
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="bookings" href="bookings.html">My Reservations</a>
            </div>

            <!-- secondary links -->
            <div class="flex space-x-1 items-center">
                <ul class="flex items-center">
                <li class="flex items-center">
                    <button id="notifButton" data-dropdown-toggle="notifDropdown" class="inline-flex justify-center items-center text-sm font-medium text-center hover:text-darkgreen focus:outline-none" type="button"> 
                    <svg class="w-[30px] h-[30px]" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
                    <div class="relative flex">
                        <div class="relative inline-flex w-3 h-3 bg-red-500 border-2 border-white rounded-full -top-2 right-3"></div>
                    </div>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="notifDropdown" class="z-20 hidden w-full max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow" aria-labelledby="notifButton">
                        <div class="block px-4 py-2 font-medium text-center rounded-t-md bg-darkgreen text-white">
                            Notifications
                        </div>
                        
                        <div class="divide-y divide-gray-100">

                        <!-- booking request notif -->
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 ">
                            <div class="flex-shrink-0 text-lightblue">
                            <i class="fa-solid fa-house"></i>
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 ">New booking request from <span class="font-medium text-gray-900">Zonke</span> for <span class="font-semibold text-gray-900"> General Farm (3 bed 2 bath)</span></div>
                                <div class="text-xs text-blue-600">a few moments ago</div>
                            </div>
                        </a>

                        <!-- booking approval notif -->
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 ">
                            <div class="flex-shrink-0 text-lightblue">
                            <i class="fa-solid fa-house"></i>
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 ">The host for <span class="font-semibold text-gray-900">Luxurious Lodge</span> has approved your booking request!</div>
                                <div class="text-xs text-blue-600 ">10 minutes ago</div>
                            </div>
                        </a>

                        <!-- comment notif -->
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 ">
                            <div class="flex-shrink-0 text-lightblue"> 
                            <i class="fa-solid fa-comment"></i>                           
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 "><span class="font-semibold text-gray-900 ">Smonke Smonke</span> commented on your listing: "Beautiful home - I had a comfortable stay!"</div>
                                <div class="text-xs text-blue-600 ">44 minutes ago</div>
                            </div>
                        </a>
                        
                        </div>
                    </div>


                    <!-- Dropdown menu -->
                    <div id="notifDropdown" class="z-10 hidden bg-white rounded-md shadow w-44">
                        <ul class="py-2 text-sm text-gray-700 " aria-labelledby="notifButton">
                        <ul class="py-2 text-sm" aria-labelledby="notifButton">
                            <li>
                            <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">My Profile</a>
                            </li>

                            <li>
                            <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">Edit Profile</a>
                            </li>
                        </ul>
                        </ul>
                    </div>
                </li>
                <li>
                    <button id="profileButton" data-dropdown-toggle="profileDropdown" class="px-4 py-2 hover:text-darkgreen"><i class="fa-solid fa-user fa-xl"></i> </button>
                    <div id="profileDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-md shadow w-44">
                    <ul class="py-2 text-sm" aria-labelledby="profileButton">
                        <li>
                        <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">My Profile</a>
                        </li>

                        <li>
                        <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">Edit Profile</a>
                        </li>
                    </ul>
                    <div class="py-2">
                        <a href="login.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">Sign out</a>
                    </div>
                </div>
                </li>
                </ul>
            </div>
        </div>
        </nav>
    </header>

  <main class="relative">
    <!-- dialogue box that floates on top of everything -->
    <div class="z-[900] w-auto h-[500px] border-2 border-darkgreen bg-white rounded-[10px] shadow-md inset-x-[200px] top-3 absolute
    flex flex-col"> 

        <div class="h-1/5 overflow-hidden relative">
            <img class="object-cover w-full h-full rounded-t-[10px] z-0 relative" 
            src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
        </div>

        <!-- flex box for title and description -->
        <div class="px-10 py-5">
            <p class="text-2xl font-bold mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>

            <!-- div for icons address and cost-->
            <div class="flex gap-2">
                <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                    <i class="fa-solid fa-location-dot"></i>
                    <i class="fa-solid fa-coins"></i>
                </div>
                <div class="flex flex-col gap-y-1 grow">
                    <p class="text-[13px]">123 King Street, London, England </p> 
                    <p class="text-[12.5px]"> $1,999 / night</p>
                </div>
            </div>
        </div> <!-- div end for title and description -->

        <!-- div for zonke wants to rent text -->
        <div class="px-10 mb-5 flex gap-1.5 items-center">
            <!-- zonke's profile picture -->
            <div class="h-[40px] w-[40px] overflow-hidden relative rounded-full mr-4">
                <img class="object-cover w-full h-full z-0 relative" 
                src="https://i.pinimg.com/564x/a2/83/f0/a283f0f6440d80926fec735c0924bd46.jpg">
            </div>
            <p class="font-bold text-xl"> Zonke Zonke </p>
            <p> wants to rent this property from </p>
            <p class="font-semibold text-darkgreen border rounded-[10px] border-darkgreen h-auto p-1 box-border"> FEB 12, 2023 - FEB 26, 2023</p>
        </div> <!-- end div for zonke wants to rent text -->

        <!-- div for text and icons -->
        <div class="px-10 mb-5 flex gap-3 items-center">
            <div class="flex flex-col gap-3 text-darkgreen">
                <i class="fa-solid fa-check"></i>
                <i class="fa-solid fa-user-group"></i>
                <i class="fa-solid fa-paw"></i>
                <i class="fa-solid fa-person-circle-exclamation"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="flex flex-col gap-2.5 text-[12.5px]">
                <div class="flex gap-1"> 
                    <p> This user has rented one of your properties before.</p>
                    <a class="text-darkgreen underline"> See comments.</a>
                </div>
                <div class="flex gap-1">
                    <p class="font-semibold">Number of guests:</p>
                    <p> 3 </p>
                </div>
                <div class="flex gap-1">
                    <p class="font-semibold">Pets:</p>
                    <p> N/A </p>
                </div>
                <div class="flex gap-1">
                    <p class="font-semibold">Special Considerations or Acommodations:</p>
                    <p> N/A </p>
                </div>
                <div class="flex gap-1 underline">
                    <p class="font-semibold">3.2</p>
                    <p> (8) </p>
                </div>
            </div> 
        </div> <!-- end div for icons and text -->

        <!-- buttons -->
        <div class="grid grid-cols-3">
            <div class="col-start-2 col-span-1 flex justify-evenly">
                <button class="flex w-[50px] h-[23px] sm:w-[62px] sm:h-[35px] items-center justify-center bg-darkgreen text-white hover:bg-lightgreen 
                 hover:text-darkgreen rounded font-semibold  text-xs sm:text-[14px]"
                 > <a href="accepted_request.html">ACCEPT</a> </button>
                 <button class="flex w-[50px] h-[23px] sm:w-[62px] sm:h-[35px] items-center justify-center bg-darkgreen text-white hover:bg-lightgreen 
                 hover:text-darkgreen rounded font-semibold  text-xs sm:text-[14px]"> <a href="reserved_listings.html">DENY</a> </button>
            </div>
        </div>
    </div> <!-- div end for dialogue box -->

    <!-- everything else -->
      <div class="p-1 md:p-5 flex z-0">
        <!-- left menu column div -->
        <div class="profile-menu w-1/6 bg-lightgray/[.2] p-7 h-screen flex flex-col flex-start items-center rounded gap-5"> 
            <!-- left menu contents -->
            <a class="self-start font-semibold text-darkgreen" href="#"> Dashboard </a>
            <a class="self-start" href="listings_requests.html"> Requests </a>
            <a class="self-start" href="all_listings.html"> All Listings </a>
            <a class="self-start" href="reserved_listings.html"> Reserved Listings </a>
            <a class="self-start" href="unreserved_listings.html"> Unreserved Listings </a>
            <a class="self-start" href="bookings.html"> My Reservations </a> 
            <a class="self-start"> My Comments </a> 
            <a class="self-start"> Settings </a>
        </div>

        <!-- main contents of page -->
        <div class="w-5/6 pl-5 flex flex-col items-start gap-10">
            <!-- container for cover photo, dp, and profile information -->
            <div class="w-full mb-5 h-auto flex flex-col gap-2">
                <!-- cover photo -->
                <div class="cover-photo h-16 sm:h-24 md:h-36 w-full self-center rounded overflow-hidden"> <img class="object-cover w-full h-full object-bottom" src="https://i.pinimg.com/564x/85/f3/33/85f3334f8bcf532cef1a369329595607.jpg"> </div>
                <!-- div that contains profile info and edit button -->
                <div class="flex justify-between">
                    <!-- div that contains both dp and name, will flex to column on phone screens -->
                    <div class="flex gap-5">
                        <div class="profile-photo md:h-[95px] md:w-[95px] sm:w-[75px] sm:h-[75px] w-[65px] h-[65px] rounded overflow-hidden"> 
                            <img class="object-cover w-full h-full object-bottom" src="https://i.pinimg.com/564x/aa/3d/49/aa3d499ad2ef681265afcd840e2079d3.jpg">
                        </div>
                        <div class="leading-6 self-end">
                            <p class="font-bold text-2xl xs:text-3xl"> Honke Honke </p>
                            <p class="text-xs sm:text-base"> honke.honke@monkemail.com </p>
                            <p class="text-xs sm:text-base"> 123-123-1234 </p>
                        </div>
                    </div> <!-- end for div that contains both dp and name -->

                    <!-- div for edit profile button-->
                    <div>
                        <button class="flex w-[50px] h-[23px] sm:w-[62px] sm:h-[35px] items-center justify-center bg-darkgreen text-white hover:bg-lightgreen 
                        hover:text-darkgreen rounded font-semibold  text-xs sm:text-[14px]"> EDIT </button>
                    </div>
                    
                </div>
            </div> <!-- end div for profile information container -->

        <!-- new requests div -->
        <div class="w-full mb-10">
            <!-- div for requests heading, and view all button -->
            <div class="flex items-center justify-between mb-3">
              <h1 class="flex-none font-bold text-2xl"> New Requests: </h1>
              <a class="text-darkgreen text-[13px] font-semibold hover:text-lightgreen"
              href="listings.html"> VIEW ALL </a>
            </div> <!-- end of div for heading and buttons -->
  
            <!-- div for requests boxes horizontal scroll -->
            <div class="flex gap-3 overflow-x-auto">
              <div class="m-2 inline-flex relative w-fit">
                <!-- red icon for new request -->
                <div class="absolute inline-block top-0 right-auto bottom-auto left-0 -translate-x-1/3 -translate-y-1/2 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 p-2 bg-red-600 rounded-full z-10"></div>
  
                <!-- div for individual box-->
                <div class="border-2 border-darkgreen rounded-[10px] md:w-[308px] md:h-[201px] w-auto h-[195px] shadow-md flex flex-col shrink-0"> 
                  <div class="h-1/2 overflow-hidden">
                      <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
                  </div>
  
                  <!-- flex box for bottom half of box text-->
                  <div class="h-1/2 p-3">
                    <!-- div for title and rating -->
                    <div class="flex justify-between">
                      <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                      <div class="flex text-darkgreen">
                        <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                        <p class="text-xs text bold ml-1 "> 5.0 </p>
                        <p class="text-xs text ml-0.5"> (1) </p>
                      </div>
                    </div>
  
                    <!-- div for left half, includes icons address and cost-->
                    <div class="flex gap-2">
                      <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                          <i class="fa-solid fa-location-dot fa-xs"></i>
                          <i class="fa-solid fa-coins fa-xs"></i>
                      </div>
                      <div class="flex flex-col gap-y-1 grow">
                          <p class="text-xs">123 King Street, London, England </p> 
                          <p class="text-xs"> $1,999 / night</p>
                      </div>
                      <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                    </div>
                  </div> <!-- div end for bottom half of individual box -->
                </div> <!-- div end for listing box -->
                </div> <!-- div end needed for red notification -->
            </div> <!-- end of all rental listings scrolling -->
          </div> <!-- end of div for all requests -->
  
  
          <!-- reserved listings div -->
          <div class="w-full mb-10"> 
            <div class="flex items-center justify-between mb-3">
              <h1 class="flex-none text-2xl font-bold"> Uneserved Listings: </h1>
              <a class="text-darkgreen text-[13px] font-semibold hover:text-lightgreen"
              href="unreserved_listings.html"> VIEW ALL </a>
            </div>
            <span class="flex flex-col sm:flex-row">
              <p> All of your listings have been reserved. </p>
              <a class="underline text-darkgreen ml-1" href="add_listing.html"> Add a new listing? </a>
            </span>
          </div>
          
  
          <!-- unbooked listings div -->
          <div class="w-full mb-10">
            <!-- div for listings heading, and view all button -->
            <div class="flex items-center justify-between mb-3">
              <h1 class="flex-none font-bold text-2xl"> Reserved Listings: </h1>
              <a class="text-darkgreen text-[13px] font-semibold hover:text-lightgreen"
              href="reserved_listings.html"> VIEW ALL </a>
            </div> <!-- end of div for heading and buttons -->
  
            <!-- div for unreserved boxes horizontal scroll -->
            <div class="flex gap-3 overflow-x-auto">
  
              <!-- div for individual box-->
              <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                  <!-- make the inside of every box a flex box with 2 rows -->
                  <div class="h-1/2 overflow-hidden">
                      <img class="object-cover w-full h-full object-bottom rounded-t-[10px]" src="https://i.pinimg.com/564x/bd/35/b8/bd35b85d0b34cfc0ba17bc11e1b90508.jpg">
                  </div>
  
                  <!-- flex box for bottom half of box text-->
                  <div class="h-1/2 p-3">
                      <!-- div for title and rating -->
                      <div class="flex justify-between">
                          <p class="text-[13px] mb-2"> General Farm (3 Bed 2 Bath) </p>
                          <div class="flex text-darkgreen">
                              <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                              <p class="text-xs text bold ml-1 "> 4.8 </p>
                              <p class="text-xs text ml-0.5"> (101) </p>
                          </div>
                      </div>
  
                      <!-- div for left half, includes icons address and cost-->
                      <div class="flex gap-2">
                          <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                              <i class="fa-solid fa-location-dot fa-xs"></i>
                              <i class="fa-solid fa-coins fa-xs"></i>
                          </div>
                          <div class="flex flex-col gap-y-1 grow">
                              <p class="text-xs">123 Monke Street, Nara, Japan </p> 
                              <p class="text-xs"> $499 / night</p>
                          </div>
                          <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                      </div>
                  </div>
              </div>
  
              <!-- div for individual box-->
              <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                <div class="h-1/2 overflow-hidden">
                    <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
                </div>
  
                <!-- flex box for bottom half of box text-->
                <div class="h-1/2 p-3">
                  <!-- div for title and rating -->
                  <div class="flex justify-between">
                    <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                    <div class="flex text-darkgreen">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs text bold ml-1 "> 5.0 </p>
                      <p class="text-xs text ml-0.5"> (1) </p>
                    </div>
                  </div>
  
                  <!-- div for left half, includes icons address and cost-->
                  <div class="flex gap-2">
                    <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                        <i class="fa-solid fa-location-dot fa-xs"></i>
                        <i class="fa-solid fa-coins fa-xs"></i>
                    </div>
                    <div class="flex flex-col gap-y-1 grow">
                        <p class="text-xs">123 King Street, London, England </p> 
                        <p class="text-xs"> $1,999 / night</p>
                    </div>
                    <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                  </div>
                </div> <!-- div end for bottom half of individual box -->
              </div> <!-- div end for listing box -->
  
              <!-- div for individual box-->
              <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                <!-- make the inside of every box a flex box with 2 rows -->
                <div class="h-1/2 overflow-hidden">
                    <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/b6/69/f1/b669f19012abdf83f35c8d5b971ad9df.jpg">
                </div>
  
                <!-- flex box for bottom half of box text-->
                <div class="h-1/2 p-3">
                    <!-- div for title and rating -->
                    <div class="flex justify-between">
                        <p class="text-[13px] mb-2"> Grand Cabin (5 Bed 3 Bath) </p>
                        <div class="flex text-darkgreen">
                            <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                            <p class="text-xs text bold ml-1 "> 3.2 </p>
                            <p class="text-xs text ml-0.5"> (8) </p>
                        </div>
                    </div>
  
                    <!-- div for left half, includes icons address and cost-->
                    <div class="flex gap-2">
                        <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                            <i class="fa-solid fa-location-dot fa-xs"></i>
                            <i class="fa-solid fa-coins fa-xs"></i>
                        </div>
                        <div class="flex flex-col gap-y-1 grow">
                            <p class="text-xs">123 Lake Street, Toronto, Canada </p> 
                            <p class="text-xs"> $623 / night</p>
                        </div>
                        <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                    </div>
                </div>
              </div>
  
              <!-- div for individual box-->
              <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                  <!-- make the inside of every box a flex box with 2 rows -->
                  <div class="h-1/2 overflow-hidden">
                      <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/4f/80/7c/4f807c68323c59167143bad9c8f0a4c3.jpg">
                  </div>
  
                  <!-- flex box for bottom half of box text-->
                  <div class="h-1/2 p-3">
                      <!-- div for title and rating -->
                      <div class="flex justify-between">
                          <p class="text-[13px] mb-2"> Bath House (1 Bed 1 Bath) </p>
                          <div class="flex text-darkgreen">
                              <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                              <p class="text-xs text bold ml-1 "> 4.5 </p>
                              <p class="text-xs text ml-0.5"> (67) </p>
                          </div>
                      </div>
  
                      <!-- div for left half, includes icons address and cost-->
                      <div class="flex gap-2">
                          <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                              <i class="fa-solid fa-location-dot fa-xs"></i>
                              <i class="fa-solid fa-coins fa-xs"></i>
                          </div>
                          <div class="flex flex-col gap-y-1 grow">
                              <p class="text-xs">123 Bath Street, Bath, England </p> 
                              <p class="text-xs"> $99 / night</p>
                          </div>
                          <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                      </div>
                  </div>
              </div>
            </div> <!-- end of all rental listings scrolling -->
          </div> <!-- end of div for all requests -->


        <!-- div for all rental listings-->
        <div class="w-full mb-10">
            <!-- div for rental listing heading, view all, and edit button-->
            <div class="flex items-center justify-between mb-3">
                <h1 class="flex-none font-bold text-2xl"> My Rental Listings: </h1>
                <a class="text-darkgreen text-[13px] font-semibold hover:text-lightgreen"
                href="reserved_listings.html"> VIEW ALL </a>
              </div> <!-- end of div for heading and buttons -->
        

            <!-- div for rental listing boxes horizontal scroll -->
            <div class="flex gap-3 overflow-x-auto">

                <!-- div for individual box-->
                <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                    <!-- make the inside of every box a flex box with 2 rows -->
                    <div class="h-1/2 overflow-hidden">
                        <img class="object-cover w-full h-full object-bottom rounded-t-[10px]" src="https://i.pinimg.com/564x/bd/35/b8/bd35b85d0b34cfc0ba17bc11e1b90508.jpg">
                    </div>

                    <!-- flex box for bottom half of box text-->
                    <div class="h-1/2 p-3">
                        <!-- div for title and rating -->
                        <div class="flex justify-between">
                            <p class="text-[13px] mb-2"> General Farm (3 Bed 2 Bath) </p>
                            <div class="flex text-darkgreen">
                                <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                                <p class="text-xs text bold ml-1 "> 4.8 </p>
                                <p class="text-xs text ml-0.5"> (101) </p>
                            </div>
                        </div>

                        <!-- div for left half, includes icons address and cost-->
                        <div class="flex gap-2">
                            <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                                <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                                <i class="fa-solid fa-coins fa-xs"></i>
                            </div>
                            <div class="flex flex-col gap-y-1 grow">
                                <p class="text-xs">123 Monke Street, Nara, Japan </p> 
                                <p class="text-xs"> $499 / night</p>
                            </div>
                            <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                        </div>
                    </div>
                </div>

                <!-- div for individual box-->
                <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                    <!-- make the inside of every box a flex box with 2 rows -->
                    <div class="h-1/2 overflow-hidden">
                        <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/b6/69/f1/b669f19012abdf83f35c8d5b971ad9df.jpg">
                    </div>

                    <!-- flex box for bottom half of box text-->
                    <div class="h-1/2 p-3">
                        <!-- div for title and rating -->
                        <div class="flex justify-between">
                            <p class="text-[13px] mb-2"> Grand Cabin (5 Bed 3 Bath) </p>
                            <div class="flex text-darkgreen">
                                <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                                <p class="text-xs text bold ml-1 "> 3.2 </p>
                                <p class="text-xs text ml-0.5"> (8) </p>
                            </div>
                        </div>

                        <!-- div for left half, includes icons address and cost-->
                        <div class="flex gap-2">
                            <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                                <i class="fa-solid fa-location-dot fa-xs"></i>
                                <i class="fa-solid fa-coins fa-xs"></i>
                            </div>
                            <div class="flex flex-col gap-y-1 grow">
                                <p class="text-xs">123 Lake Street, Toronto, Canada </p> 
                                <p class="text-xs"> $623 / night</p>
                            </div>
                            <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                        </div>
                    </div>
                </div>

                <!-- div for individual box-->
                <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                <div class="h-1/2 overflow-hidden">
                    <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
                </div>

                <!-- flex box for bottom half of box text-->
                <div class="h-1/2 p-3">
                    <!-- div for title and rating -->
                    <div class="flex justify-between">
                    <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                    <div class="flex text-darkgreen">
                        <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                        <p class="text-xs text bold ml-1 "> 5.0 </p>
                        <p class="text-xs text ml-0.5"> (1) </p>
                    </div>
                    </div>

                    <!-- div for left half, includes icons address and cost-->
                    <div class="flex gap-2">
                    <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                        <i class="fa-solid fa-location-dot fa-xs"></i>
                        <i class="fa-solid fa-coins fa-xs"></i>
                    </div>
                    <div class="flex flex-col gap-y-1 grow">
                        <p class="text-xs">123 King Street, London, England </p> 
                        <p class="text-xs"> $1,999 / night</p>
                    </div>
                    <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                    </div>
                </div> <!-- div end for bottom half of individual box -->
                </div> <!-- div end for listing box -->

                <!-- div for individual box-->
                <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                    <!-- make the inside of every box a flex box with 2 rows -->
                    <div class="h-1/2 overflow-hidden">
                        <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/4f/80/7c/4f807c68323c59167143bad9c8f0a4c3.jpg">
                    </div>

                    <!-- flex box for bottom half of box text-->
                    <div class="h-1/2 p-3">
                        <!-- div for title and rating -->
                        <div class="flex justify-between">
                            <p class="text-[13px] mb-2"> Bath House (1 Bed 1 Bath) </p>
                            <div class="flex text-darkgreen">
                                <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                                <p class="text-xs text bold ml-1 "> 4.5 </p>
                                <p class="text-xs text ml-0.5"> (67) </p>
                            </div>
                        </div>

                        <!-- div for left half, includes icons address and cost-->
                        <div class="flex gap-2">
                            <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                                <i class="fa-solid fa-location-dot fa-xs"></i>
                                <i class="fa-solid fa-coins fa-xs"></i>
                            </div>
                            <div class="flex flex-col gap-y-1 grow">
                                <p class="text-xs">123 Bath Street, Bath, England </p> 
                                <p class="text-xs"> $99 / night</p>
                            </div>
                            <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                        </div>
                    </div>
                </div>

                <!-- div for add section box-->
                <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md shrink-0 grid grid-cols-1 place-content-center justify-items-center"> 
                    <i class="fa-solid fa-square-plus fa-5x mb-2"></i>
                    <a href="add_listing.html"> Add a new listing </a>
                </div>
            </div> <!-- end of all rental listings scrolling -->
        </div> <!-- end of all rental listings section-->
        
        <!-- div for all reservations section -->
        <div class="w-full mb-10">
            <!-- div for reservation heading, view all, and edit button-->
            <div class="flex items-center justify-between mb-3">
                <h1 class="flex-none font-bold text-2xl"> My Reservations: </h1>
                <a class="text-darkgreen text-[13px] font-semibold hover:text-lightgreen"
                href="reserved_listings.html"> VIEW ALL </a>
              </div> <!-- end of div for heading and buttons -->

            <!-- div for reservation boxes horizontal scroll -->
            <div class="flex gap-3 overflow-x-auto">

                <!-- div for individual box-->
                <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                    <!-- make the inside of every box a flex box with 2 rows -->
                    <div class="h-1/2 overflow-hidden">
                        <img class="object-cover w-full h-full object-bottom rounded-t-[10px]" src="https://i.pinimg.com/564x/bd/35/b8/bd35b85d0b34cfc0ba17bc11e1b90508.jpg">
                    </div>

                    <!-- flex box for bottom half of box text-->
                    <div class="h-1/2 p-3">
                            <!-- div for title and rating -->
                            <div class="flex justify-between">
                                <p class="text-[13px] mb-2"> General Farm (3 Bed 2 Bath) </p>
                                <div class="flex text-darkgreen">
                                    <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                                    <p class="text-xs textbold ml-1 "> 4.8 </p>
                                    <p class="text-xs text ml-0.5"> (101) </p>
                                </div>
                            </div>

                            <!-- div for left half, includes icons address and cost-->
                            <div class="flex gap-2">
                                <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                                    <i class="fa-solid fa-location-dot fa-xs"></i>
                                    <i class="fa-solid fa-coins fa-xs"></i>
                                </div>
                                <div class="flex flex-col gap-y-1 grow">
                                    <p class="text-xs">123 Monke Street, Nara, Japan </p> 
                                    <p class="text-xs"> $499 / night</p>
                                </div>
                                <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                            </div>
                    </div>
                </div>

                <!-- div for individual box-->
                <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                    <!-- make the inside of every box a flex box with 2 rows -->
                    <div class="h-1/2 overflow-hidden">
                        <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/b6/69/f1/b669f19012abdf83f35c8d5b971ad9df.jpg">
                    </div>

                    <!-- flex box for bottom half of box text-->
                    <div class="h-1/2 p-3">
                        <!-- div for title and rating -->
                        <div class="flex justify-between">
                            <p class="text-[13px] mb-2"> Grand Cabin (5 Bed 3 Bath) </p>
                            <div class="flex text-darkgreen">
                                <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                                <p class="text-xs text bold ml-1 "> 3.2 </p>
                                <p class="text-xs text ml-0.5"> (8) </p>
                            </div>
                        </div>

                        <!-- div for left half, includes icons address and cost-->
                        <div class="flex gap-2">
                            <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                                <i class="fa-solid fa-location-dot fa-xs"></i>
                                <i class="fa-solid fa-coins fa-xs"></i>
                            </div>
                            <div class="flex flex-col gap-y-1 grow">
                                <p class="text-xs">123 Lake Street, Toronto, Canada </p> 
                                <p class="text-xs"> $623 / night</p>
                            </div>
                            <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                        </div>
                    </div>
                </div>

                <!-- div for individual box-->
                <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                    <div class="h-1/2 overflow-hidden">
                        <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
                    </div>

                    <!-- flex box for bottom half of box text-->
                    <div class="h-1/2 p-3">
                    <!-- div for title and rating -->
                    <div class="flex justify-between">
                        <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                        <div class="flex text-darkgreen">
                        <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                        <p class="text-xs text bold ml-1 "> 5.0 </p>
                        <p class="text-xs text ml-0.5"> (1) </p>
                        </div>
                    </div>

                    <!-- div for left half, includes icons address and cost-->
                    <div class="flex gap-2">
                        <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                            <i class="fa-solid fa-location-dot fa-xs"></i>
                            <i class="fa-solid fa-coins fa-xs"></i>
                        </div>
                        <div class="flex flex-col gap-y-1 grow">
                            <p class="text-xs">123 King Street, London, England </p> 
                            <p class="text-xs"> $1,999 / night</p>
                        </div>
                        <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                    </div>
                    </div> <!-- div end for bottom half of individual box -->
                </div> <!-- div end for listing box -->

                <!-- div for individual box-->
                <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md flex flex-col shrink-0"> 
                    <!-- make the inside of every box a flex box with 2 rows -->
                    <div class="h-1/2 overflow-hidden">
                        <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/564x/4f/80/7c/4f807c68323c59167143bad9c8f0a4c3.jpg">
                    </div>

                    <!-- flex box for bottom half of box text-->
                    <div class="h-1/2 p-3">
                        <!-- div for title and rating -->
                        <div class="flex justify-between">
                            <p class="text-[13px] mb-2"> Bath House (1 Bed 1 Bath) </p>
                            <div class="flex text-darkgreen">
                                <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                                <p class="text-xs text bold ml-1 "> 4.5 </p>
                                <p class="text-xs text ml-0.5"> (67) </p>
                            </div>
                        </div>

                        <!-- div for left half, includes icons address and cost-->
                        <div class="flex gap-2">
                            <div class="flex flex-col gap-y-1 justify-evenly text-darkgreen"> 
                                <i class="fa-solid fa-location-dot fa-xs"></i>
                                <i class="fa-solid fa-coins fa-xs"></i>
                            </div>
                            <div class="flex flex-col gap-y-1 grow">
                                <p class="text-xs">123 Bath Street, Bath, England </p> 
                                <p class="text-xs"> $99 / night</p>
                            </div>
                            <div class="text-xs text-darkgreen underline flex self-end"> see more </div>
                        </div>
                    </div>
                </div>

                <!-- div for add section box-->
                <div class="border-2 border-darkgreen rounded-[10px] w-[308px] h-[201px] shadow-md shrink-0 grid grid-cols-1 place-content-center justify-items-center"> 
                    <i class="fa-solid fa-square-plus fa-5x mb-2"></i>
                    <a href="searchresults.html"> Add a new reservation </a>
                </div>
                
            </div> <!-- end for all reservations horizontal scroll -->

        </div> <!-- end for all reservations section -->
    </div> <!-- end for main contents div -->

      </div> <!-- end entire page container -->
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>

</body>
</html>
