<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/6f36eef116.js" crossorigin="anonymous"></script>
  <link href="/dist/output.css" rel="stylesheet" type="text/css">
  
 
</head>
<body>
    <!-- nav bar -->
  <header class="sticky top-0 z-[999]">
    <nav class="bg-lightgreen text">
        <!-- flex box for whole bar -->
      <div class="flex mx-5 justify-between">
          <!-- primary links -->
          <div class="flex space-x-1 items-center">
              <a class="flex items-center py-4 px-5 hover:text-darkgreen  font-bold" id="index" href="index.html">Search</a>
              <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="listings" href="listings.html">My Listings</a>
              <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="bookings" href="bookings.html">My Reservations</a>
          </div>

          <!-- secondary links -->
          <div class="flex space-x-1 items-center">
              <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="login" href="login.html">Login</a>
              <button class="flex items-center py-2 px-5 bg-darkgreen hover:bg-white text-white hover:text-darkgreen rounded" href="#">Sign Up</button>
          </div>
      </div>
    </nav>
  </header>

  <main>
      <h1>Search results page</h1>
  </main>

</body>
</html>