<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/6f36eef116.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />

  <link href="/dist/output.css" rel="stylesheet" type="text/css">
  
 
</head>
<body>
    <!-- nav bar -->
    <header class="sticky top-0 z-[999]">
      <nav class="bg-lightgreen text">
          <!-- flex box for whole bar -->
        <div class="flex mx-5 justify-between">
            <!-- primary links -->
            <div class="flex space-x-1 items-center">
                <a class="flex items-center py-4 px-5 hover:text-darkgreen font-bold" id="index" href="index.html">Search</a>
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="listings" href="listings.html">My Listings</a>
                <a class="flex items-center py-4 px-5 hover:text-darkgreen" id="bookings" href="bookings.html">My Reservations</a>
            </div>

            <!-- secondary links -->
            <div class="flex space-x-1 items-center">
              <ul class="flex items-center">
                <li class="flex items-center">
                  <button id="notifButton" data-dropdown-toggle="notifDropdown" class="inline-flex justify-center items-center text-sm font-medium text-center hover:text-darkgreen focus:outline-none" type="button"> 
                    <svg class="w-[30px] h-[30px]" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
                    <div class="relative flex">
                      <div class="relative inline-flex w-3 h-3 bg-red-500 border-2 border-white rounded-full -top-2 right-3"></div>
                    </div>
                  </button>
                    <!-- Dropdown menu -->
                    <div id="notifDropdown" class="z-20 hidden w-full max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow" aria-labelledby="notifButton">
                      <div class="block px-4 py-2 font-medium text-center rounded-t-md bg-darkgreen text-white">
                          Notifications
                      </div>
                      
                      <div class="divide-y divide-gray-100">

                        <!-- booking request notif -->
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 ">
                          <div class="flex-shrink-0 text-lightblue">
                            <i class="fa-solid fa-house"></i>
                          </div>
                          <div class="w-full pl-3">
                              <div class="text-gray-500 text-sm mb-1.5 ">New booking request from <span class="font-medium text-gray-900">Zonke</span> for <span class="font-semibold text-gray-900"> General Farm (3 bed 2 bath)</span></div>
                              <div class="text-xs text-blue-600">a few moments ago</div>
                          </div>
                        </a>

                        <!-- booking approval notif -->
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 ">
                          <div class="flex-shrink-0 text-lightblue">
                            <i class="fa-solid fa-house"></i>
                          </div>
                          <div class="w-full pl-3">
                              <div class="text-gray-500 text-sm mb-1.5 ">The host for <span class="font-semibold text-gray-900">Luxurious Lodge</span> has approved your booking request!</div>
                              <div class="text-xs text-blue-600 ">10 minutes ago</div>
                          </div>
                        </a>

                        <!-- comment notif -->
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 ">
                          <div class="flex-shrink-0 text-lightblue"> 
                            <i class="fa-solid fa-comment"></i>                           
                          </div>
                          <div class="w-full pl-3">
                              <div class="text-gray-500 text-sm mb-1.5 "><span class="font-semibold text-gray-900 ">Smonke Smonke</span> commented on your listing: "Beautiful home - I had a comfortable stay!"</div>
                              <div class="text-xs text-blue-600 ">44 minutes ago</div>
                          </div>
                        </a>
                        
                      </div>
                    </div>


                  <!-- Dropdown menu -->
                  <div id="notifDropdown" class="z-10 hidden bg-white rounded-md shadow w-44">
                      <ul class="py-2 text-sm text-gray-700 " aria-labelledby="notifButton">
                        <ul class="py-2 text-sm" aria-labelledby="notifButton">
                          <li>
                            <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">My Profile</a>
                          </li>
    
                          <li>
                            <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">Edit Profile</a>
                          </li>
                        </ul>
                      </ul>
                  </div>
                </li>
                <li>
                  <button id="profileButton" data-dropdown-toggle="profileDropdown" class="px-4 py-2 hover:text-darkgreen"><i class="fa-solid fa-user fa-xl"></i> </button>
                  <div id="profileDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-md shadow w-44">
                    <ul class="py-2 text-sm" aria-labelledby="profileButton">
                      <li>
                        <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">My Profile</a>
                      </li>

                      <li>
                        <a href="profile.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">Edit Profile</a>
                      </li>
                    </ul>
                    <div class="py-2">
                      <a href="login.html" class="block px-4 py-2 text-sm hover:bg-lightgreen">Sign out</a>
                    </div>
                </div>
                </li>
              </ul>
            </div>
        </div>
      </nav>
    </header>

  <main>
      <!-- container div -->
    <div class="p-5 flex">
      <!-- left menu column div -->
      <div class="profile-menu w-1/4 bg-lightgray/[.2] p-7 h-auto flex flex-col flex-start items-center rounded gap-5 mt-5"> 
          <!-- left menu contents -->
          <form class="w-full max-w-lg">

            <!-- location input -->
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block text-gray-700 text-xl font-semibold mb-2" for="grid-location">
                  Location
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-[#8FC6EA]" id="grid-location" type="text" placeholder="Where are you headed?">
                <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
              </div>
            </div>

            <!-- checkin/checkout -->
            <div class="flex flex-wrap -mx-3 mb-6">
              <!-- check in -->
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block text-gray-700 text-xl font-semibold mb-2" for="grid-checkin">
                  Check-In
                </label>

                <div class="relative">
                  <input type="date" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-[#8FC6EA]" id="grid-checkin" required pattern="\d{4}-\d{2}-\d{2}" />
                </div>
              </div>
              
              <!-- checkout -->
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block text-gray-700 text-xl font-semibold mb-2" for="grid-checkout">
                  Check-Out
                </label>
                <div class="relative">
                  <input type="date" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-[#8FC6EA]" id="grid-checkout" required pattern="\d{4}-\d{2}-\d{2}" />
                </div>
              </div>
            </div>

            <!-- num guests/sort -->
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block text-gray-700 text-xl font-semibold mb-2" for="grid-num-guests">
                  Guests
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-[#8FC6EA]" id="grid-num-guests" type="text" placeholder="">
              </div>
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block text-gray-700 text-xl font-semibold mb-2" for="grid-sort">
                  Sort By
                </label>
                <div class="relative">
                  <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-[#8FC6EA]" id="grid-sort">
                    <option value="1">Price</option>
                    <option value="2">Rating</option>
                  </select>
                  
                </div>

              </div>


            </div>

            <!-- amenities -->
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block text-gray-700 text-xl font-semibold mb-2" for="grid-amenities">
                  Amenities
                </label>
                <div class="relative">
                  <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-[#8FC6EA]" id="grid-amenities">
                    <option value="wifi">Wi-Fi</option>
                    <option value="pets">Pets Allowed</option>
                    <option value="kitchen">Kitchen Included</option>
                    <option value="parking">Free Parking</option>
                  </select>
                  
                </div>
              </div>
            </div>

          </form>
      </div> <!-- end div for menu column -->

      <!-- main contents of page -->
      <div class="w-5/6 pl-5 flex flex-col justify-start items-start gap-5">
           
        <!-- div for all requests with vertical scroll -->
        <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 overflow-auto mt-5">

          <!-- div for individual box-->
          <div class="border-2 border-darkgreen rounded-[10px] w-auto h-auto md:h-[201px] drop-shadow flex flex-col shrink-0"> 
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                  <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                  <div class="flex">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs bold ml-1 "> 5.0 </p>
                      <p class="text-xs ml-0.5"> (1) </p>
                  </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                  <div class="flex flex-col gap-y-1 justify-evenly"> 
                      <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                      <i class="fa-solid fa-coins fa-xs"></i>
                  </div>
                  <div class="flex flex-col gap-y-1 grow">
                      <p class="text-xs">123 King Street, London, England </p> 
                      <p class="text-xs"> $1,999 / night</p>
                  </div>
                  <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div> <!-- div end for bottom half of individual box -->
          </div> <!-- div end for listing box -->

          <!-- div for individual box-->
          <div class="border-2 border-darkgreen rounded-[10px] w-auto h-[201px] drop-shadow flex flex-col shrink-0"> 
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                  <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                  <div class="flex">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs bold ml-1 "> 5.0 </p>
                      <p class="text-xs ml-0.5"> (1) </p>
                  </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                  <div class="flex flex-col gap-y-1 justify-evenly"> 
                      <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                      <i class="fa-solid fa-coins fa-xs"></i>
                  </div>
                  <div class="flex flex-col gap-y-1 grow">
                      <p class="text-xs">123 King Street, London, England </p> 
                      <p class="text-xs"> $1,999 / night</p>
                  </div>
                  <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div> <!-- div end for bottom half of individual box -->
          </div> <!-- div end for listing box -->

          <!-- div for individual box-->
          <div class="border-2 border-darkgreen rounded-[10px] w-auto h-[201px] drop-shadow flex flex-col shrink-0"> 
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                  <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                  <div class="flex">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs bold ml-1 "> 5.0 </p>
                      <p class="text-xs ml-0.5"> (1) </p>
                  </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                  <div class="flex flex-col gap-y-1 justify-evenly"> 
                      <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                      <i class="fa-solid fa-coins fa-xs"></i>
                  </div>
                  <div class="flex flex-col gap-y-1 grow">
                      <p class="text-xs">123 King Street, London, England </p> 
                      <p class="text-xs"> $1,999 / night</p>
                  </div>
                  <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div> <!-- div end for bottom half of individual box -->
          </div> <!-- div end for listing box -->

          <!-- div for individual box-->
          <div class="border-2 border-darkgreen rounded-[10px] w-auto h-[201px] drop-shadow flex flex-col shrink-0"> 
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                  <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                  <div class="flex">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs bold ml-1 "> 5.0 </p>
                      <p class="text-xs ml-0.5"> (1) </p>
                  </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                  <div class="flex flex-col gap-y-1 justify-evenly"> 
                      <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                      <i class="fa-solid fa-coins fa-xs"></i>
                  </div>
                  <div class="flex flex-col gap-y-1 grow">
                      <p class="text-xs">123 King Street, London, England </p> 
                      <p class="text-xs"> $1,999 / night</p>
                  </div>
                  <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div> <!-- div end for bottom half of individual box -->
          </div> <!-- div end for listing box -->

          <!-- div for individual box-->
          <div class="border-2 border-darkgreen rounded-[10px] w-auto h-[201px] drop-shadow flex flex-col shrink-0"> 
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                  <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                  <div class="flex">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs bold ml-1 "> 5.0 </p>
                      <p class="text-xs ml-0.5"> (1) </p>
                  </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                  <div class="flex flex-col gap-y-1 justify-evenly"> 
                      <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                      <i class="fa-solid fa-coins fa-xs"></i>
                  </div>
                  <div class="flex flex-col gap-y-1 grow">
                      <p class="text-xs">123 King Street, London, England </p> 
                      <p class="text-xs"> $1,999 / night</p>
                  </div>
                  <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div> <!-- div end for bottom half of individual box -->
          </div> <!-- div end for listing box -->

          <!-- div for individual box-->
          <div class="border-2 border-darkgreen rounded-[10px] w-auto h-[201px] drop-shadow flex flex-col shrink-0"> 
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                  <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                  <div class="flex">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs bold ml-1 "> 5.0 </p>
                      <p class="text-xs ml-0.5"> (1) </p>
                  </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                  <div class="flex flex-col gap-y-1 justify-evenly"> 
                      <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                      <i class="fa-solid fa-coins fa-xs"></i>
                  </div>
                  <div class="flex flex-col gap-y-1 grow">
                      <p class="text-xs">123 King Street, London, England </p> 
                      <p class="text-xs"> $1,999 / night</p>
                  </div>
                  <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div> <!-- div end for bottom half of individual box -->
          </div> <!-- div end for listing box -->

          <!-- div for individual box-->
          <div class="border-2 border-darkgreen rounded-[10px] w-auto h-[201px] drop-shadow flex flex-col shrink-0"> 
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                  <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                  <div class="flex">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs bold ml-1 "> 5.0 </p>
                      <p class="text-xs ml-0.5"> (1) </p>
                  </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                  <div class="flex flex-col gap-y-1 justify-evenly"> 
                      <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                      <i class="fa-solid fa-coins fa-xs"></i>
                  </div>
                  <div class="flex flex-col gap-y-1 grow">
                      <p class="text-xs">123 King Street, London, England </p> 
                      <p class="text-xs"> $1,999 / night</p>
                  </div>
                  <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div> <!-- div end for bottom half of individual box -->
          </div> <!-- div end for listing box -->

          <!-- div for individual box-->
          <div class="border-2 border-darkgreen rounded-[10px] w-auto h-[201px] drop-shadow flex flex-col shrink-0"> 
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                  <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                  <div class="flex">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs bold ml-1 "> 5.0 </p>
                      <p class="text-xs ml-0.5"> (1) </p>
                  </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                  <div class="flex flex-col gap-y-1 justify-evenly"> 
                      <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                      <i class="fa-solid fa-coins fa-xs"></i>
                  </div>
                  <div class="flex flex-col gap-y-1 grow">
                      <p class="text-xs">123 King Street, London, England </p> 
                      <p class="text-xs"> $1,999 / night</p>
                  </div>
                  <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div> <!-- div end for bottom half of individual box -->
          </div> <!-- div end for listing box -->

          <!-- div for individual box-->
          <div class="border-2 border-darkgreen rounded-[10px] w-auto h-[201px] drop-shadow flex flex-col shrink-0"> 
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                  <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                  <div class="flex">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs bold ml-1 "> 5.0 </p>
                      <p class="text-xs ml-0.5"> (1) </p>
                  </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                  <div class="flex flex-col gap-y-1 justify-evenly"> 
                      <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                      <i class="fa-solid fa-coins fa-xs"></i>
                  </div>
                  <div class="flex flex-col gap-y-1 grow">
                      <p class="text-xs">123 King Street, London, England </p> 
                      <p class="text-xs"> $1,999 / night</p>
                  </div>
                  <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div> <!-- div end for bottom half of individual box -->
          </div> <!-- div end for listing box -->
          
          <!-- div for individual box-->
          <div class="border-2 border-darkgreen rounded-[10px] w-auto h-[201px] drop-shadow flex flex-col shrink-0"> 
            <div class="h-1/2 overflow-hidden">
                <img class="object-cover w-full h-full rounded-t-[10px]" src="https://i.pinimg.com/originals/96/2c/ca/962ccaffb1ddcff5ab8fc1071507cb9c.gif">
            </div>

            <!-- flex box for bottom half of box text-->
            <div class="h-1/2 p-3">
                <!-- div for title and rating -->
                <div class="flex justify-between">
                  <p class="text-[13px] mb-2"> Luxurious Lodge (8 Bed 5 Bath) </p>
                  <div class="flex">
                      <i class="fa-solid fa-star fa-2xs mt-0.5"></i>
                      <p class="text-xs bold ml-1 "> 5.0 </p>
                      <p class="text-xs ml-0.5"> (1) </p>
                  </div>
                </div>

                <!-- div for left half, includes icons address and cost-->
                <div class="flex gap-2">
                  <div class="flex flex-col gap-y-1 justify-evenly"> 
                      <i class="fa-solid fa-location-dot fa-xs --fa-C7D6E0"></i>
                      <i class="fa-solid fa-coins fa-xs"></i>
                  </div>
                  <div class="flex flex-col gap-y-1 grow">
                      <p class="text-xs">123 King Street, London, England </p> 
                      <p class="text-xs"> $1,999 / night</p>
                  </div>
                  <div class="text-xs text-midgreen underline flex self-end"> see more </div>
                </div>
            </div> <!-- div end for bottom half of individual box -->
          </div> <!-- div end for listing box -->

        </div> <!-- end of all rental listings display vertical scroll div -->

      </div> <!-- end div for main contents of page -->
    
    </div> <!-- end div container for page -->
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>

</body>
</html>